@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth
  }
}

.light {
  --background: 0, 0, 0;
  --clr-primary: 255, 255, 255;
  --clr-secondary: 84, 101, 255;

}

.dark {
  --background: 255, 255, 255;
  --clr-primary: 0, 0, 0;
  --clr-secondary: 84, 101, 255;

}

.text-primary {
  @apply text-5xl font-semibold
}
.text-secondary {
  @apply text-3xl font-semibold
}

.text-ternary {
  @apply text-xl
}

br {
  @apply pb-4
}

.line {
  @apply bg-clr-secondary w-full
}

.hover-shadow {
  @apply hover:shadow-none duration-100 ease-in-out transition-shadow shadow-[16px_16px_0px_-1px_rgb(var(--clr-secondary))]
}
.hover-btn-shadow {
  @apply hover:shadow-none duration-100 ease-in-out transition-shadow shadow-[8px_8px_0px_-1px_rgb(var(--clr-secondary))]
}

.hover-btn-bg {
  @apply border-clr-primary duration-100 ease-in-out hover:border-clr-secondary hover:bg-clr-secondary hover:text-background
}