@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth
  }
}

.light {
  --background: 0, 0, 0;
  --clr-primary: 255, 255, 255;

  background: rgba((var(--background)));
}

.dark {
  --background: 255, 255, 255;
  --clr-primary: 0, 0, 0;

  background: rgba((var(--background)));
}

.text-primary {
  @apply text-5xl font-semibold
}
.text-secondary {
  @apply text-3xl font-semibold
}

.text-ternary {
  @apply text-xl
}

br {
  @apply pb-4
}

