@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --background: 0, 0, 0;
  --clr-primary: 255, 255, 255;

  background: rgba((var(--background)));
}

.dark {
  --background: 255, 255, 255;
  --clr-primary: 0, 0, 0;

  background: rgba((var(--background)));
}
